@charset "UTF-8";

/*? Fuentes */
@font-face {
  font-family: "Gotham-Book";
  src: url("assets/fonts/Gotham-Book.otf");
}

@font-face {
  font-family: "Gotham-Black";
  src: url("assets/fonts/Gotham-Black.otf");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("assets/fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "Gotham-Light";
  src: url("assets/fonts/Gotham-Light.otf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("assets/fonts/Gotham-Medium.ttf");
}

@font-face {
  font-family: "Gotham-Thin";
  src: url("assets/fonts/Gotham-Thin.otf");
}

/*? Variables CSS */
:root {
  --black: #040404;
  --white: #ececec;
  --gray: #1B1D1F;
  --light-gray: #99A1A6;
  --dark-gray: #0f1011;
  --accent-color: #c481ff;
  --dark-accent-color: #251834;
  --transition-type: cubic-bezier(0.4, 0.25, 0.3, 1);
  --regular-font: Gotham-Medium, Helvetica, Arial, sans-serif;
  --book-font: Gotham-Book, Helvetica, Arial, sans-serif;
  --light-font: Gotham-Light, Helvetica, Arial, sans-serif;
  --thin-font: Gotham-Thin, Helvetica, Arial, sans-serif;
  --bold-font: Gotham-Bold, Helvetica, Arial, sans-serif;
  --black-font: Gotham-Black, Helvetica, Arial, sans-serif;
  --pixel: min(0.15625vw, 0.0625rem);
  --rem: min(2.5vw, 1rem);
}

h1, h2, h3, h4 {
  color: var(--white);
  text-wrap: balance;
  line-height: 1.25;
}

h1 {
  font-size: calc(var(--rem) * 2.8);
}

h2 {
  font-size: calc(var(--rem) * 2);
  margin-bottom: min(12.5vw, 5rem);
}

h3 {
  font-size: calc(var(--rem) * 1.6);
  margin-bottom: min(2vw, .8rem);
}

h4 {
  font-size: calc(var(--rem) * 1.2);
}

a,
form,
select,
button,
p,
span,
input,
label,
textarea {
  color: var(--light-gray);
  font-size: calc(var(--rem) * 1.2);
  line-height: 1.5;
  text-wrap: pretty;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

button {
  cursor: pointer;
}

@media (width >=576px) {
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  a,
  form,
  select,
  button,
  p,
  span,
  input,
  label,
  textarea {
    font-family: var(--book-font);
    font-weight: normal;
    font-size: 1.2rem;
  }
}

/*? Variables contraste alto */
@media (prefers-contrast: high) {
  :root {
    --black: black;
    --white: white;
  }
}

/*? Reducir transiciones */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/*? Global app Styles */
.noscroll {
  overflow-y: hidden;
}

.sections-container {
  padding: min(8vw, 4rem) 0;
}

.padded-section {
  width: 100%;
  padding: min(5vw, 2rem) min(10%, 4rem);
}

@media (width >= 600px) {
  .sections-container {
		display: flex;
		flex-direction: column;
    width: 100%;
    max-width: 1028px;
		margin: 0 auto;
  }
  .padded-section {
    padding: min(5vw, 2rem) min(15%, 6rem);
    max-width: 1028px;
  }
}